# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Secrets
secret_key.json
hf_token.json

# Cache / outputs
cache/
results/
RAG_Logic/hf_token.json
# Logs
*.log
frontend/node_modules/