# Core
numpy
pandas
json5

# Embeddings & LLM
sentence-transformers
transformers
torch
accelerate

# OpenAI API
openai

# Utilities
tqdm
matplotlib
scikit-learn

# Optional
faiss-cpu

pdfplumber
python-docx
beautifulsoup4
markdown
pandas
rank-bm25